<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
    <link rel="stylesheet" href="/css/style.css">
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.7.1/jquery.min.js"></script>
    <script src="/js/script.js"></script>
</head>
<body>
    <!-- 전체 컨테이너 -->
    <div id="container">

        <!-- 제목부분 -->
        <h1 id="title"><a href="/">메인 화면</a></h1>

        <!-- 네비게이션 -->
        <ul id="nav">
            <li><a href="/student">학생 등록</a></li>
            <li><a href="/score">점수 등록</a></li>
            <li><a href="/list">점수 조회</a></li>
        </ul>

        <!-- 서브타이틀 -->
        <h2 id="sub-title">학생정보 등록</h2>
        
        <div id="form">
            <div>
                이름: <input type="text" id="name" placeholder="홍길동">
            </div>
            <div>
                나이: <input type="text" id="age" placeholder="20">
            </div>
            <div>
                성별:
                <label for="man">남자</label>
                <input type="radio" name="gender" id="man" value="man">

                <label for="woman">여자</label>
                <input type="radio" name="gender" id="woman" value="woman">
            </div>
            <button type="button" id="studentBtn">등록</button>
        </div>
    </div>
    
</body>
</html>